body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.webSocketAll{
    width:1100px;
    margin : 0 auto;
}

.canvasModule
{
    width:1100px;
}

.drawComponent
{
    margin: 20px;
    width:260px;
    height:480px;
    background-color: #0081c2;
}

.chatModule{
    padding : 20px;
    width:1060px;
    height:160px;
    background-color: #0081c2;
}

.chat {
   width:1060px;
   height:120px;
   overflow:auto;
   background-color: #ffffff;
}

.chatInput {
    margin-top:10px;
}

.content{
    width:980px;
    float:left;
}

.sendBtn{
    margin-left:10px;
}

.draw
{
    width:800px;
    height:800px;
}